<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <appenders>
        <File name="skipDirs" fileName="logs/skipDirs.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </File>

        <File name="fatalError" fileName="logs/fatalErrors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="skipDirs" level="info"/>
            <appender-ref ref="fatalError" level="error"/>
        </root>
    </loggers>


</configuration>